// ---------------- component ----------------- //

// color
$text-main: #000;
$text-gray: #777777;
$background1: #fff;
$brown: #cc9933;
$brown-hover: #79472c;
$blue: #22324b;

// display
$mobile: 480px;
$pmobile: 481px;
$btablet: 767px;
$tablet: 768px;
$ptablet: 769px;
$ipad: 810px;
$bipadpro: 1023px;
$ipadpro: 1024px;
$pipadpro: 1025px;
$laptop: 1366px;
$pc: 1600px;

// class use component
@mixin input {
    width: 100%;
    height: 40px;
    border: 1px solid $text-gray;
    border-radius: 10px;

    @media screen and (max-width:$mobile){
        font-size: 0.9em;
        height: 30px;
    }

    &:focus{
        border: 1px solid $brown;
    }
}
@mixin button($width) {
    width: $width;
    height: 40px;
    background-color: $brown;
    color: $background1;
    box-shadow: 0px 1px 5px $text-gray;
    font-size: 1.2em;
    border: unset;
    border-radius: 30px;
    cursor: pointer;

    @media screen and (max-width:$mobile) {
        height: 30px;
        font-size: 1em;
    }

    @media(hover: hover) and (pointer: fine) {
        &:hover{
            background: $brown-hover;
            transition: .3s;
        }
    }
}
@mixin title {
    text-align: center;

    h1{
        color: $brown;

        @media screen and (max-width:$mobile) {
            font-size: 1.3em;
        }
    }
    span{
        font-style: italic;

        @media screen and (max-width:$mobile) {
            font-size: .8em;
        }
    }
}

// ------------------- class ------------------- //
// root
*,*:after,*:before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
}
h1{font-size: 2em;}
h2{font-size: 1.8em;}
h3{font-size: 1.6em;}
h4{font-size: 1.4em;}
h5{font-size: 1.2em;}
h6{font-size: 1em;}
p{font-size: .8em;}
span{font-size: 1em;}
label{font-size: 1em;}
a{
    text-decoration: none;
    font-size: 1em;
}
a[href^="tel:"]{
    color: inherit;
}
li{
    list-style: none;
}

input,select,textarea,button{
    font-family: inherit;
    &:focus{
        outline: none;
    }
}

input:disabled{
    background: $background1;
    opacity: 1;
}

// class use
body{
    background: $background1;
    -webkit-tap-highlight-color:transparent;

    @media screen and (max-width:1365px) {
        display: grid;
        grid-template-columns: 100%;
    }
}

.header{
    margin-bottom: 3%;
    position: fixed;
    width: 100%;
    z-index: 9;
    background: #fff;

    @media screen and (min-width:$tablet) {
        margin: 0;
    }

    .logo{
        figure{
            text-align: center;

            img{
                width: 80%;

                @media screen and (min-width:$tablet) {
                    width: 50%
                }
                @media screen and (min-width:$ipadpro) {
                    width: 40%
                }
                @media screen and (min-width:$laptop) {
                    width: 25%
                }
            }
        }
    }

    nav{
        width: 95%;
        margin: 0 auto;
        margin-top: 2%;
        
        @media screen and (max-width:$mobile){
            display: flex;
            flex-direction: column-reverse;
            position: relative;
        }
        @media screen and (min-width:$tablet) {
            background-color: $blue;
            width: 100%;
            padding-bottom: 5%;
        }
        @media screen and (min-width:$laptop) {
            margin: unset;
            padding: unset;
            display: flex;
            padding: 0 12%;
        }
        @media screen and (min-width:$pc) {
            margin: unset;
            padding: unset;
            display: flex;
            padding: 0 15%;
        }

        .ham-social{
            position: relative;
            @media screen and (max-width:($tablet)-1px) {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            .hamburger{
                display: flex;
                flex-direction: column;
                width: 50%;
                padding: 3% 0;
                margin-left: 5%;
    
                @media screen and (min-width:$tablet) {
                    display: none;
                }
    
                .line{
                    background: #000;
                    width: 30px;
                    height: 3px;
                    display: inline-block;
                    margin: 3px 0;
                    transition: .5s;
                }
    
                &.active{
                    .line:nth-child(1){
                        transform: rotate(135deg) translate(1px, -2px);
                        transition: .5s;
                    }
                    .line:nth-child(2){
                        opacity: 0;
                        transition: .2s;
                    }
                    .line:nth-child(3){
                        transform: rotate(45deg) translate(-10px, -12px);
                        transition: .5s;
                    }
                }
            }
            .icon-mobile{
                display: flex;
                justify-content: flex-end;
                padding: 3% 0;

                img{
                    width: 25px;
                    height: 25px;
                }

                @media screen and (max-width:$mobile){
                    position: absolute;
                    bottom: 3%;
                    right: 23%;
                    width: 34%;
                }
                @media screen and (min-width:$tablet) {
                    display: none;
                }

                a{
                    margin: 0 10px;
                    @media screen and (max-width:$mobile){
                        display: flex;
                        align-items: center;
                    }
                }
            }
        }

        .menu{
            display: none;
            text-align: center;
            background-color: $blue;
            padding: 3% 0;

            @media screen and (min-width:$tablet) {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                background-color: unset;
                width: 95%;
                margin: 0 auto;
            }
            @media screen and (min-width:ipadpro) {
                width: 80%;
                margin: 0 auto;
            }
            @media screen and (min-width:$laptop) {
                width: 70%;
                padding: 1% 0;
            }

            .menulist{
                margin: 2% 0;

                @media screen and (min-width:$tablet) {
                    width: 25%;
                    margin: unset;
                }
                @media screen and (min-width:$pc) {
                    width: 12%;
                    margin: unset;
                }

                a{
                    color: $background1;

                    &.active{
                        background: $brown;
                        padding: 1%;
                        border-radius: 5px;
                        color: $background1!important;

                        @media screen and (min-width:$tablet) {
                            padding: 5%!important;
                        }
                    }

                    &:hover{
                        color: $brown;
                        transition: .3s;
                    }
                }
                .room{
                    color: $background1;
                    cursor: pointer;

                    &.active{
                        background: $brown;
                        padding: 5%;
                        border-radius: 5px;
                    }


                    img{
                        width: 16px;
                        height: 14px;
                        filter: invert(100%);
                    }

                    @media(hover: hover) and (pointer: fine) {
                        &:hover .subroom{
                            display: block;
                        }
                    }
                        
                    .subroom{
                        display: none;
                        background: $brown;
                        margin: 0 5%;
    
                        @media screen and (min-width:$tablet) {
                            position: absolute;
                            z-index: 6;
                            border: 1px solid $brown-hover;
                            border-radius: 5px;
                            padding: 1%;
                            margin: 0;
                        }  
    
                        &.active{
                            display: block;
                        }

                        li{
                            padding: 2% 0;
                            a{
                                color: $background1!important;

                                &:hover{
                                    border-bottom: 2px solid $background1;
                                }
                            }
                        }
                        
                    }
                }
            }

            .icon{
                display: flex;
                justify-content: space-evenly;
                padding: 3% 0;

                img{
                    width: 26px;
                    height: 26px;
                    filter: invert(1);
                }

                @media screen and (max-width:$mobile){
                    display: none;
                }
                @media screen and (min-width:$tablet) {
                    margin-left: 15%;
                }
                @media screen and (min-width:$pc) {
                    padding: unset;
                    margin-left: 28%;
                }

                a{
                    @media screen and (min-width:$tablet) {
                        display: flex;
                        align-items: center;
                        margin: 0 10px;
                    }
                }
            }
            
            .searchBM{
                position: relative;
    
                @media screen and (min-width:$tablet) {
                     display: none;
                }
    
                input{
                    @include input();
                    padding: 0 3%;
                    background-color: $brown;
                    color: $background1;
                    border-radius: 20px;
                    width: 80%;
    
                    &::placeholder{
                        color: $background1;
                    }
                }
    
                img{
                    position: absolute;
                    width: 26px;
                    height: 32px;
                    right: 13%;
                    top: 50%;
                    transform: translateY(-50%);
                    filter: invert(1);
                    cursor: pointer;
                }
            }

            &.active{
                display: block;
            }
        }
        
        .search{
            position: relative;

            @media screen and (max-width:767px) {
                display: none;
            }
            @media screen and (min-width:$tablet) {
                 width: 35%;
                 margin: 0 auto;   
            }
            @media screen and (min-width:$laptop) {
                width: 25%;
                margin: auto 0;   
           }

            input{
                @include input();
                padding: 0 3%;
                background-color: $brown;
                color: $background1;
                border-radius: 20px;
                padding-right: 15%;
                font-size: .9em;

                &::placeholder{
                    color: $background1;
                }
            }

            img{
                position: absolute;
                width: 26px;
                height: 32px;
                right: 10px;
                top: 50%;
                transform: translateY(-50%);
                filter: invert(1);
                cursor: pointer;
            }
        }

        .translate{
            margin-left: 10px;

            @media screen and (max-width:$mobile) {
                position: absolute;
                bottom: 0%;
                right: 3%;
                margin-bottom: 1%;
            }
            @media screen and (min-width:$tablet) {
                position: absolute;
                top: 15px;
                right: 6%;
            }

            a{
                margin: 0 5px;
            }
        }
    }
}

.slide{
    position: relative;

    @media screen and (max-width:($ipadpro)-1px){
        margin-top: 40%;
    }
    @media screen and (max-width:($laptop)-1px){
        margin-top: 35%;
    }

    .owl-stage-outer{
        img{
            width: 100%;
            height: 200px;

            @media screen and (min-width:$tablet) {
                height: 400px;
            }
            @media screen and (min-width:$laptop) {
                height: 600px;
            }
        }
    }
    .owl-nav{
        display: none;
        @media screen and (min-width:$ipadpro) {
            position: absolute;
            top: 20px;
            right: 20%;
            width: 40px;
            display: flex;
            justify-content: space-around;
        }

        button{
            border: unset;
            background: inherit;
            cursor: pointer;
        }
    }
    .owl-dots{
        position: absolute;
        top: 20px;
        right: 10%;
    }
}

.booking{
    padding: 2%;

    @media screen and (min-width:$laptop) {
        width: 80%;
        margin: -4% auto;
        border-radius: 80px;
        position: relative;
        z-index: 5;
    }

    .formBook{
        display: grid;
        grid-template-columns: repeat(2,49%);
        grid-gap: 1%;

        @media screen and (min-width:$laptop) {
            display: flex;
            justify-content: space-around;
        }

        .input-box{
            display: grid;
            margin: 1% 0;
            position: relative;

            label{
                color: $background1;
            }
            input{
                @include input();
                padding: 0 20px;

                @media screen and (min-width:$laptop) and (max-width:$pc) {
                    width: 90%!important;
                }
            }
            input[type=number]{
                text-align: center;
            }
            img.left,img.right{
                position: absolute;
                bottom: 17%;
                width: 16px;
                height: 16px;
                cursor: pointer;

                @media screen and (max-width:$mobile) {
                    bottom: 10%;
                }
            }
            img.left{
                left: 3%;
            }
            img.right{
                right: 3%;

                @media screen and (min-width:$laptop) and (max-width:$pc) {
                    right: 11%!important;
                }
            }
        }
        .button{
            text-align: center;
            margin: 3% 0;
            grid-column-start: 1;
            grid-column-end: 3;

            @media screen and (min-width:$laptop) {
                display: flex;
                align-items: flex-end;
                margin: 1% 0;
            }

            button{
                @media screen and (max-width:$mobile) {
                    @include button(130px);
                }
                @include button(150px)
            }
        }
    }
}

.footer{
    background-color: $blue;
    color: $background1;
    padding: 2% 5%;

    @media screen and (min-width:$ipadpro) {
        display: grid;
        grid-template-columns: repeat(2,50%);
    }
    @media screen and (min-width:$laptop) {
        grid-template-columns: 14% 21% 27% 35%;
        grid-gap: 1%;
        padding: 2% 10%;
    }

    .logo{
        @media screen and (min-width:$ipadpro) {
            display: flex;
            justify-content: center;
            align-items: center;

            @media screen and (min-width:$laptop) {
                align-items: unset;
            }
        }
        figure{
            text-align: center;

            @media screen and (min-width:$laptop) {
                text-align: left;
            }

            img{
                width: 40%;

                @media screen and (min-width:$ipadpro) {
                    width: 70%;
                }
                @media screen and (min-width:$laptop) {
                    width: 90%
                }
            }
        }
    }

    .address-contact{
        margin: 3% 0;

        @media screen and (min-width:$laptop) {
            margin: unset;

            p{
                font-size: .7em;
            }
        }

        .address{
            margin-bottom: 15px;
        }

        .contact{
            margin: 3% 0;
            display: grid;
            grid-template-columns: 100%;
            grid-row-gap: 10px;

            @media screen and (min-width:$laptop) {
                grid-row-gap: 0px;
            }

            .single{
                display: flex;
                margin: 1% 0;

                figure{
                    img{
                        width: 32px;
                        height: 32px;
                        filter: invert(100%) sepia(51%) saturate(10%) brightness(195%);

                        @media screen and (min-width:$laptop) {
                            width: 18px;
                            height: 18px;
                        }
                    }
                }
                p{
                    margin-left: 3%;
                }
            }
        }
    }

    .social{
        margin: 5% 0;

        @media screen and (min-width:$ipadpro) {
            margin: unset;
        }

        .facebookPage{
            text-align: center;

            @media screen and (min-width:$laptop) {
                overflow: hidden;
                height: 250px;
                //text-align: left;
            }
        }
    }

    .map{
        iframe{
            width: 100%;
            height: 300px;

            @media screen and (min-width:$ipadpro) {
                height: 498px;
            }
            @media screen and (min-width:$laptop) {
                height: 250px;
            }
        }
    }
}

.flatpickr-current-month{
    font-size: 100%!important;
}

.buttonTop{
    position: fixed;
    bottom: 5%;
    right: 5%;
    width: 50px;
    height: 50px;
    border-radius: 30px;
    background-color: #305692b3;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    figure{
        img{
            width: 28px;
            height: 28px;
            filter: invert(100%);
        }
    }
}

.grecaptcha-badge{
    display: none;
}

font{
    font-size: inherit;
}