@import "brightStyle";

@mixin limitInroom {
    @for $i from 6 through 20 {
        &:nth-child(#{$i}) {
          display: none;
        }
    }
}

.content{
    margin: 5% 0;

    @media screen and (max-width:$mobile) {
       margin: unset; 
    }

    .title{
        @include title();
        margin: 2% 0;
    }
    .ck{
        text-align: center;

        @media screen and (max-width:$mobile) {
            p{
                font-size: .8em!important;
            }
        }
        
        p{
            line-height: 1.8;
        }
        img{
            width: 100%;
        }
    }
    .box-grid{
        display: grid;
        grid-row-gap: 20px;

        .column{
            display: grid;
            text-align: center;
            grid-row-gap: 10px;

            figure{
                img{
                    width: 64px;
                    height: 64px;
                    filter: invert(50%) contrast(100%) sepia(100%) brightness(100%) hue-rotate(0deg);
                }
            }
            
        }
    }
    .bigimg{
        img{
            width: 100%;
            height: 300px;
        }
    }
    .icon{
        display: grid;
        grid-template-columns: repeat(2,50%);
        grid-row-gap: 10px;
        margin-top: 3%;

        .item{
            display: flex;
            flex-direction: column;
            align-items: center;

            img{
                width: 32px;
                height: 32px;
                filter: invert(45%) contrast(85%) brightness(5%) sepia(100) saturate(100) hue-rotate(220deg);
            }
            span{
                color: $text-gray;
                font-size: 0.8em;
                word-break: break-all;
                text-align: center;
            }
        }
    }

    .grid-room{
        display: flex;
        overflow-x: scroll;
        cursor: pointer;
        padding: 0 1%;
        padding-bottom: 3%;
        position: relative;

        &.drag{
            cursor: grabbing;
            cursor: -webkit-grabbing;
        }
        &::-webkit-scrollbar{
            display: none;
            width: 50%;
            height: 5px;
        }
        &::-webkit-scrollbar-track {
            box-shadow: inset 0 0 5px grey;
            border-radius: 10px;
        }
        &::-webkit-scrollbar-thumb {
            background: $brown;
            border-radius: 10px;
        }

        .item-room{
            padding: 2%;

            .box{
                width: 270px;
                margin: 0 auto;
                border: 1px solid lightgray;
                border-radius: 10px;
                background-color: $background1;

                figure{
                    text-align: center;
                    height: 180px;
                    position: relative;

                    span{
                        position: absolute;
                        top: 10px;
                        left: 10px;
                        background: #fff;
                        width: fit-content;
                        border-radius: 15px;
                        padding: 0 2%;

                        @supports (-webkit-touch-callout: none) {
                            width: 40%;
                        }
                    }

                    img{
                        width: 100%;
                        height: 100%;
                        border-radius: 10px 10px 0 0;
                    }
                }
                .price{
                    text-align: center;
                    background: $brown;
                    height: fit-content;
                    border-radius: 0 0 35px 35px;
                    display: flex;
                    flex-direction: column;
                    position: relative;

                    .discount{
                        text-align: center;
                        margin-left: 25%;
                        position: absolute;
                        right: 10%;

                        span{
                            font-size: 0.6em;
                            color: $background1;
                            text-decoration: line-through;
                        }
                    }
                    .sumprice{        
                        span{
                            color: $background1;
                            font-size: 1.6em;

                            @media screen and (max-width:$mobile) {
                                font-size: 1.4em;
                            }
                        }
                    }
                }
                .description{
                    margin: 3% 5%;
                    height: 5em;
                    border-bottom: 2px solid #e2e2e2;
                    overflow-y: hidden;

                    p{
                        color: $text-gray;
                    }
                }
                .inroom{
                    display: grid;
                    grid-template-columns: repeat(5,1fr);

                    .item{
                        text-align: center;
                        position: relative;
                        @include limitInroom();
                        
                        span{
                            display: none;
                            position: absolute;
                            top: -30px;
                            left: 0;
                            width: max-content;
                            background: gray;
                            color: #fff;
                            padding: 0 5px;
                            border-radius: 5px;
                        }
                        img{
                            width: 32px;
                            height: 32px;
                            filter: brightness(4%) sepia(100) saturate(100) hue-rotate(215deg);
                        }
                    }
                }
            }

            .button{
                text-align: center;
                margin-top: 5%;
                button{
                    @include button(180px)
                }
            }
        }
    }

    &.contact{
        @media screen and (min-width:$ipadpro) {
            width: 80%;
            margin: 0 auto;
            margin-bottom: 5%;
        }

        .form-contact{
            @media screen and (min-width:$laptop) {
                width: 55%;
                margin: 0 auto;
            }

            .inputDual{
                display: grid;
                grid-template-columns: 100%;
                grid-row-gap: 10px;
                padding: 0 5%;
                padding-bottom: 5px;

                @media screen and (min-width:$ipadpro) {
                    grid-template-columns: 1fr 1fr;
                    grid-gap: 1%;
                }

                .input-box{
                    display: grid;
                    grid-template-columns: 1fr 1fr;

                    @media screen and (min-width:$tablet) {
                        grid-template-columns: 20% 80%;
                    }
                    @media screen and (min-width:$laptop) {
                        grid-template-columns: 100%;
                    }

                    input{
                        @include input();
                        width: 250px;
                        padding: 0 20px;

                        @media screen and (min-width:$tablet) {
                            width: 100%;
                        }
                    }
                }
            }
            .inputSingle{
                display: grid;
                grid-template-columns: 1fr 1fr;
                padding: 5px 5%;

                @media screen and (min-width:$tablet) {
                    grid-template-columns: 20% 80%;
                }
                @media screen and (min-width:$ipadpro) {
                    grid-template-columns: 10% 90%;
                }
                @media screen and (min-width:$laptop) {
                    grid-template-columns: 100%;
                }

                input{
                    @include input();
                    width: 250px;
                    padding: 0 20px;

                    @media screen and (min-width:$tablet) {
                        width: 100%;
                    }
                }
            }
            .textSingle{
                display: grid;
                grid-template-columns: 100%;
                padding: 5px 5%;

                textarea{
                    padding: 0 20px;
                    border-radius: 10px;

                    &::-webkit-scrollbar{
                        width: 2px;
                    }
                    &::-webkit-scrollbar-thumb{
                        background-color: $blue;
                        border-radius: 30px;
                    }
                }
            }
            .button{
                text-align: center;
                margin: 15px 0;

                button{
                    @include button(100px);
                }
            }
        }
    }

    &.service{
        padding: 3% 1%;

        .title{
            h1{
                color: $background1;
            }
        }

        @media screen and (max-width:$tablet) {
            margin: unset;
        }
        @media screen and (min-width:$laptop) {
            padding: 1% 8% 0% 8%;
        }

        .box-grid{
            color: $background1;

            @media screen and (min-width:$tablet) {
                grid-template-columns: repeat(5,calc(96%/5));
                grid-gap: 1%;
            }

            .column{
                span{
                    @media screen and (min-width:$tablet) and (max-width:1023px) {
                        font-size: .9em;
                    }
                }
                .ck{
                    @media screen and (min-width:$tablet) {
                        height: 350px;
                    }
                    @media screen and (min-width:$ipadpro) {
                        height: 230px;
                    }
                    @media screen and (min-width:$laptop) {
                        height: 180px;
                    }
                }
            }
        }
    }

    &.room{
        @media screen and (max-width:$mobile) {
            margin: unset;
        }
        @media screen and (min-width:$laptop) {
            padding-bottom: 2%;
            padding: 0 5%;
            position: relative;
        }

        .title{
            @media screen and (min-width:$laptop) {
                padding: 2% 0;
            }
            h1{
                color: $background1;
            }
        }

        &:before{
            content: '<';
            position: absolute;
            top: 50%;
            left: 3%;
            color: #fff;
            font-size: 2em;
        }
        &:after{
            content: '>';
            position: absolute;
            top: 50%;
            right: 3%;
            color: #fff;
            font-size: 2em;
        }
    }

    &.service,&.room{

        .title{
            span{
                color: $background1;
            }
        }
    }

    &.row1{
        padding: 0 1%;
        @media screen and (min-width:$ipadpro) {
            width: 95%;
            margin: 0 auto;
        }
        @media screen and (min-width:$laptop) {
            width: 85%;
            margin: 5% auto;
        }
        .ck{
            p,h1,h2,h3,h4,h5,h6,span{
                font-size: .8em;
            }
        }
    }

    &.row3{
        margin: 3% 1%;
        
        @media screen and (min-width:$ipadpro) {
            display: grid;
            grid-template-columns: 58% 40%;
            grid-gap: 2%;
            width: 85%;
            margin: 0 auto;

            .bigimg{
                grid-row-start: 1;
                grid-row-end: 4;

                img{
                    height: unset;
                }
            }
            .title,.ck{
                text-align: left;
            }
            .icon{
                display: block;

                .item{
                    display: inline-block;
                    margin-right: 3%;
                    margin-bottom: 1%;

                    img{
                        // width: 18px;
                        // height: 18px;
                    }
                    span{
                        //font-size: .7em;
                    }
                }
            }
        }    
        .ck{
            p,h1,h2,h3,h4,h5,h6,span{
                font-size: .8em;
            }
        }
    }
}

@media screen and (max-width:1365px) {
    article.pHome:nth-child(6){
        grid-row-start: 6;
    }
    article.pHome:nth-child(7){
        grid-row-start: 5;
    }
}