@import "brightStyle";

@mixin limitInroom {
    @for $i from 6 through 20 {
        &:nth-child(#{$i}) {
          display: none;
        }
    }
}

.room-page{
    width: 95%;
    margin: 6% auto;

    @media screen and (min-width:$pc) {
        width: 90%;
    }
    @media screen and (min-width:1900px) {
        width: 80%;
    }

    .title{
        @include title();
        margin-top: 5%;
    }

    .room-page-zone{
        display: grid;
        grid-template-columns: 100%;
        grid-row-gap: 10px;
        margin: 5% 0;

        @media screen and (min-width:$ipadpro) and (max-width:1599px) {
            grid-template-columns: 57% 42%;
            grid-gap: 1%;
        }
        @media screen and (min-width:$pc) {
            grid-template-columns: 57% 40%;
            grid-gap: 3%;
        }
        

        .gird-room{
            display: grid;
            grid-template-columns: 100%;
            grid-row-gap: 10px;

            @media screen and (min-width:$tablet) {
                grid-template-columns: 49% 49%;
                grid-gap: 2%;
                grid-row-gap: 15px;
            }

            .list-room{
                .img-review{
                    position: relative;
    
                    figure{
                        img{
                            width: 100%;
                            height: 100%;
                            border-radius: 10px;
                            height: 270px;
                        }
                    }
    
                    .virwFull{
                        position: absolute;
                        top: 5%;
                        right: 3%;
                        width: 135px;
                        background-color: #000000b6;
                        border-radius: 30px;
                        padding: 0 3%;
                        cursor: pointer;
                        text-align: center;
    
                        p{
                            color: $background1;
                            
                        }

                        &:hover{
                            background-color: $brown;
                            transition: .3s;
                        }
                    }
    
                    .carousel{
                        position: absolute;
                        bottom: 0;
                        width: 100%;
                        height: 55px;
                        padding: 0 2%;
    
                        .list-img{
                            display: flex;
                            overflow-x: scroll;
                            -ms-overflow-style: none;
                            scrollbar-width: none;
                            cursor: pointer;

                            &::-webkit-scrollbar{
                                display: none;
                            }
    
                            figure{
                                margin-right: 5px;
    
                                img{
                                    width: 40px;
                                    height: 40px;
                                    border-radius: 5px;

                                    &.active{
                                        border: 1px solid $background1;
                                    }
                                }
                            }

                            &.drag{
                                cursor: grabbing;
                                cursor: -webkit-grabbing;
                                transform: scale(1);
                            }
                        }
                    }
                }
    
                .detail-room{
                    padding: 2% 0;
                    border: 1px solid $blue;
    
                    .title-room{
                        background-color: $blue;
                        width: 80%;
                        margin: 0 auto;
                        padding: 1% 0;
                        text-align: center;
                        border-radius: 10px;
    
                        h2{
                            color: $background1;
                            

                            @media screen and (min-width:$mobile) {
                                font-size: 1.6em;
                            }
                            @media screen and (min-width:$ipadpro) {
                                font-size: 1.4em;
                            }
                        }
                    }
    
                    .priceBeforeSale{
                        text-align: center;
    
                        span.price{
                            text-decoration: line-through;
                            margin-top: 5%;
                            margin-left: 20%;
                        }
                        span{
                            font-size: .8em;
                        }
                    }
    
                    .currentPrice{
                        text-align: center;
                        background-color: $blue;
    
                        h3{
                            color: $background1;
                            font-size: 2em;

                            @media screen and (min-width:$laptop) {
                                font-size: 2.2em;
                            }
                        }
                    }
    
                    .facilities{
                        text-align: center;
                        margin: 3% auto;
                        width: 80%;
    
                        p{
                            color: $text-gray;
                            font-size: .7em;
                            height: 4.4em;
                            overflow: hidden;
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            -webkit-line-clamp: 3;
                        }
                    }
    
                    .inroom{
                        display: grid;
                        grid-template-columns: repeat(5,1fr);
                        padding: 0 3%;
                        margin: 3% 0;      
    
                        .item{
                            text-align: center;
                            position: relative;
                            @include limitInroom();
                            
                            span{
                                display: none;
                                position: absolute;
                                top: -30px;
                                left: 0;
                                width: max-content;
                                background: gray;
                                color: #fff;
                                padding: 0 5px;
                                border-radius: 5px;
                                font-size: .7em;

                                &.active{
                                    display: block;
                                }
                            }
                            img{
                                width: 32px;
                                height: 32px;
                                filter: brightness(4%) sepia(100) saturate(100) hue-rotate(215deg);
                            }

                            @media screen and (min-width:$laptop) {
                                &:hover span{
                                    display: block;
                                }
                            }  
                        }
                    }
    
                    .button{
                        text-align: center;
                        button{
                            @include button(150px)
                        }
                    }
                }
            }
        }

        .detail-order{
            .detial{
                padding: 0 3%;
                border-radius: 10px;

                .title{
                    @include title();

                    @media screen and (min-width:$ipadpro) {
                        padding-top: 5%;
                        margin: unset;
                    }

                    h2{
                        color: $background1;
                        
                    }
                }

                .box-date{
                    .input-box{
                        display: grid;
                        margin: 1% 0;
                        position: relative;
            
                        label{
                            color: $background1;
                        }
                        input{
                            @include input();
                            padding: 0 20px;
                        }
                        input[type=number]{
                            text-align: center;
                        }
                        img.left,img.right{
                            position: absolute;
                            bottom: 17%;
                            width: 16px;
                            height: 16px;
                            cursor: pointer;
                        }
                        img.left{
                            left: 3%;
                        }
                        img.right{
                            right: 3%;
                        }

                        input.input-invalid{
                            border: 2px solid $brown !important;
                        }
                    }
                }

                .detail-list{
                    display: none;
                    background-color: $background1;
                    border-radius: 10px;
                    margin-top: 5%;
                    padding: 2%;

                    .list-item{
                        display: grid;
                        grid-template-columns: .5fr 1fr 1fr 5%;
                        border-bottom: 1px solid $text-gray;
                        margin-bottom: 2%;

                        @media screen and (min-width:$pc){
                            grid-template-columns: 50% 20% 25% 5%;
                        }

                        &:last-child{
                            border: unset;
                            margin: unset;
                        }

                        span{
                            font-size: .8em;
                            

                            &.nameRoom{
                                margin-left: 5%;
                                margin-top: auto;
                                margin-bottom: auto;
                                
                            }
                            &.amound-day{
                                text-align: center;
                            }
                            &.amound-pricePerDay{
                                text-align: end;
                                margin-right: 5%;
                                margin-top: auto;
                                margin-bottom: auto;
                            }
                        }
                        .amound-room{
                            text-align: center;
                            margin-top: auto;
                            margin-bottom: auto;

                            &::selection{
                                background: transparent;
                            }

                            p{
                                display: inline-block;
                            }

                            .minus,.plus{
                                cursor: pointer;
                                font-size: 1em;
                                

                                &::selection{
                                    background: transparent;
                                }
                            }
                            .minus{
                                margin-right: 10px;
                            }
                            .plus{
                                margin-left: 10px;
                            }
                        }
                        .delete{
                            text-align: center;
                            font-size: .8em;
                            cursor: pointer;
                            margin-top: auto;
                            margin-bottom: auto;
                        }

                    }

                    &.hide{
                        display: none;
                    }
                }

                .amound-price{
                    background-color: $background1;
                    padding: 2%;
                    margin-top: 5%;
                    border-radius: 10px;
                    
                    .list{
                        display: grid;
                        grid-template-columns: repeat(2,50%);

                        span:nth-child(odd){
                            text-align: left;
                        }
                        span:nth-child(even){
                            text-align: end
                        }

                        &:last-child{
                            border-top: 2px solid $blue;
                            margin-top: 3%;
                            padding-top: 3%;
                        }
                    }
                }

                .discount{
                    display: grid;
                    grid-template-columns: 70% 30%;

                    .input-box{
                        display: grid;
                        margin: 1% 0;
                        position: relative;
            
                        label{
                            color: $background1;
                        }
                        input{
                            @include input();
                            padding: 0 20px;
                        }
                    }
                    .button{
                        display: flex;
                        justify-content: center;
                        align-items: flex-end;
                        padding-bottom: 5%;

                        button{
                            @include button(80%)
                        }
                    }
                }

                .booking-button{
                    text-align: center;
                    padding: 5% 0;

                    button{
                        @include button(150px)
                    }
                }
            }

            .contact{
                margin-top: 5%;
                padding: 5%;
                border-radius: 10px;

                .title{
                    @include title();

                    h2{
                        color: $background1;
                        
                    }
                }

                .logo{
                    text-align: center;
                    margin: 5% 0;

                    img{
                        width: 35%;
                        height: 100%;
                    }
                }

                .icon{
                    display: grid;
                    grid-template-columns: 100%;
                    grid-row-gap: 10px;
                    margin-top: 3%;
    
                    .item{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        text-align: center;
    
                        @media screen and (min-width:$pc) {
                            display: inline-block;
                            margin-bottom: 3%;
                            margin-right: 1%;
                        }
                       
    
                        img{
                            width: 18px;
                            height: 18px;
                            filter: invert(100%);
                        }
                        span{
                            color: $background1;
                            font-size: 0.8em;
                            text-align: center;
                        }

                    }
                }
            }
        }
    }
}

.dialog-fullview{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: #000000b4;

    .inner-dialog{
        background-color: $background1;
        width: 95%;
        height: 90%;
        position: inherit;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 10px;
        padding: 0 2%;
        overflow-y: auto;
        z-index: 11;

        @media screen and (min-width:$tablet) {
            width: 85%;
        }
        @media screen and (min-width:$ipadpro) {
            display: grid;
            grid-template-columns: 49% 48%;
            grid-column-gap: 3%;
            padding-top: 3%;
            height: auto;
        }
        @media screen and (min-width:$laptop) {
            height: 70%;
            width: 75%;
        }
        @media screen and (min-width:$pc) {
            height: 70%;
            width: 60%;
        }

        &::-webkit-scrollbar {
            width: 5px;
        }
        &::-webkit-scrollbar-thumb {
            background: #888; 
            border-radius: 20px;
        }
        &::-webkit-scrollbar-track {
            background: #f1f1f1; 
        }
        &::-webkit-scrollbar-thumb:hover {
            background: #555; 
        }

        .image-review{
            .img-bigbox{
                figure{
                    height: 220px;

                    @media screen and (min-width:$tablet) {
                        height: 400px;
                    }
                    @media screen and (min-width:$ipadpro) {
                        height: 300px;
                    }
    
                    img{
                        width: 100%;
                        height: 100%;
                        border-radius: 10px;
                        object-fit: contain;
                    }
                }
            }
            
            .carousel{
                margin: 2% 0;

                .list-img{
                    display: flex;
                    overflow-x: scroll;
                    -ms-overflow-style: none;
                    scrollbar-width: none;
                    cursor: pointer;
                    user-select: none;

                    &::-webkit-scrollbar{
                        display: none;
                    }

                    figure{
                        margin-right: 5px;

                        img{
                            width: 80px;
                            height: 80px;
                            border-radius: 5px;

                            &.active{
                                border: 1px solid $background1;
                            }

                            &:hover{
                                border: 3px solid $brown;
                                transition: .3s;
                            }
                        }
                    }

                    &.drag{
                        cursor: grabbing;
                        cursor: -webkit-grabbing;
                        transform: scale(1);
                    }
                }
            }
        }

        .detail-room{
            .nameroom,.price,.description{
                text-align: center;
                position: relative;

                h2,span,p{
                    color: $blue;
                }
                
            }
            .price{
                display: flex;
                justify-content: center;
                align-items: center;

                @media screen and (min-width:$tablet) and (max-width:$bipadpro) {
                    width: 60%;
                    margin: 0 auto;
                }
                @media screen and (min-width:$laptop) {
                    width: 70%;
                    margin: 0 auto;
                }
                @media screen and (min-width:$pc) {
                    width: 80%;
                    margin: 0 auto;
                }

                h2{
                    font-size: 2em;

                    @media screen and (min-width:$tablet) {
                        font-size: 3em;
                    }
                }
                span{
                    position: absolute;
                    right: 0;
                }
            }
        }

        .facilities{
            @media screen and (min-width:$ipadpro) {
                grid-column-start: 1;
                grid-column-end: 3;
            }

            .title{
                text-align: center;

                h5{
                    color: $blue;
                }
            }

            .inroom{
                display: grid;
                grid-template-columns: repeat(1,1fr);
                grid-row-gap: 10px;
                margin: 3% 0;

                @media screen and (min-width:$tablet) {
                    grid-template-columns: repeat(2,1fr);
                }
                @media screen and (min-width:$ipadpro) {
                    grid-template-columns: repeat(8,1fr);
                    grid-row-gap: 15px;
                }
    
                .item{
                    text-align: center;
                    position: relative;
                    
                    img{
                        width: 32px;
                        height: 32px;
                        filter: brightness(4%) sepia(100) saturate(100) hue-rotate(215deg);
                    }

                    p{
                        color: $blue;

                        @media screen and (min-width:$ipadpro) {
                            height: 3em;
                            overflow: hidden;
                        }
                    }
                }
            }
        }
        
        .logo{
            @media screen and (max-width:$tablet) {
                display: none;
            }   

            figure{
                text-align: center;


                img{
                    width: 128px;
                    height: 128px;
                }
            }
        }

        .close{
            width: 100%;
            display: block;
            text-align: end;

            @media screen and (min-width:$ipadpro) {
                position: absolute;
                top: 0;
                right: 10px;
            }

            button{
                background-color: inherit;
                border: unset;
                cursor: pointer;
            }
        }
    }

    &.active{
        display: block;
        //animation: fade .5s;
    }

    @keyframes fade {
        0%{opacity: 0;}
        100%{opacity: 1;}
    }
}