.sidebar-menu hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    border-top: 1px solid #eee;
    border-top: 1px solid #172c45;
}

.box-content-cate {
    border: 1px solid #d2d6de;
    border-radius: 0;
    height: 100%;
    box-shadow: none;
    overflow-x: hidden;
    overflow-y: scroll;
}

.box-content-cate .box-body {
    overflow: scroll;
    /* height: 100%; */
    /* padding-bottom: 51px;*/
}

.content-img {
    left: 0px;
    width: 140px;
    height: 100px;
    float: left;
    overflow: hidden;
    position: relative;
    background-color: #FFFFFF;
    border: 1px solid #e8e8e8;
    filter: drop-shadow(1px 1px 2px rgba(7, 49, 88, 0.5));
    transition: all 0.25s;
}

.content-imgPayed {
    width: 140px;
    height: 100px;
    float: left;
    overflow: hidden;
    position: relative;
    background-color: #FFFFFF;
    border: 1px solid #e8e8e8;
    filter: drop-shadow(1px 1px 2px rgba(7, 49, 88, 0.5));
    transition: all 0.25s;
    left: 50%;
    transform: translateX(-50%);
}

.content-img.upsize {
    width: 175px;
    height: 140px;
}


/* .content-img:hover { */


/* box-shadow: 0 0 20px 1px #888888;
    transform: scale(1.2);
    left: 20px; */


/* } */

.content-img a,
.content-imgPayed a {
    cursor: -webkit-zoom-in;
}

.content-img img,
.content-imgPayed img {
    height: 120%;
    /* width: 100%; */
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.5s ease;
}

.content-info {
    width: 70%;
    margin-left: 10px;
    padding-right: 20px;
    text-align: left;
    float: left;
}

.content-info.upleftmargin {
    margin-left: 15px;
}

.content-info h1 {
    margin: 5px 0px;
    font-size: 14px;
    line-height: 22px;
    font-family: 'Roboto';
    font-weight: bold;
    color: #252525;
    float: left;
    height: 22px;
    width: 100%;
    overflow: hidden;
    word-wrap: break-word;
}

.content-info p {
    font-size: 12px;
    margin: 0;
    height: 18px;
    color: #999999;
    float: left;
    width: 100%;
    overflow: hidden;
}

.content-button {
    float: right;
}

.input-group-url {
    background-color: #f8f8f8 !important;
    color: #444 !important;
}

.box-tag {
    border: 1px solid #d2d6de;
    box-shadow: none;
    border-radius: 0;
}

.blog-content-social input {
    border-width: 0 0 1px 0;
    padding-left: 26px;
}

.blog-content-social .input-group-addon {
    border-width: 0 0 1px 0;
}

.blog-content-social i {
    position: absolute;
    left: 0;
    line-height: 36px;
    width: 24px;
    text-align: center;
    font-size: 18px;
    color: #999999;
}

.blog-content-social .form-social {
    width: 100%;
    float: left;
    min-height: 36px;
    position: relative;
}

.blog-content-lg .modal-lg {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}

.blog-content-sm .modal-lg {
    width: 900px;
    height: 100%;
    margin: 0 auto;
}

.blog-content .modal-content {
    overflow: hidden;
    height: 100%;
}

.blog-content .modal-header {
    position: fixed;
    float: left;
    z-index: 3;
    width: 100%;
    background-color: white;
}

.blog-content .modal-body {
    height: 100%;
    margin-top: 41px;
    padding-bottom: 106px;
}

.body-row-content {
    height: 100%;
    background: white;
}

.blog-content .modal-footer {
    position: fixed;
    float: left;
    z-index: 3;
    width: 100%;
    background-color: white;
    bottom: 0;
}

.col-content.col-md-3 {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 0;
    height: 100%;
}

.col-content.col-md-9 {
    height: 100%;
    padding-top: 25px;
    padding-bottom: 50px;
    padding-left: 30px;
    overflow-y: scroll;
}

.col-content.col-md-12 {
    height: 100%;
    padding-top: 25px;
    padding-bottom: 50px;
    padding-left: 30px;
    overflow-y: scroll;
}

.scrollbar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0);
    border-radius: 0;
    background-color: #FFFFFF;
}

.scrollbar::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5;
}

.scrollbar::-webkit-scrollbar-thumb {
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.1);
}

#blog-category-tree::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
    border-radius: 0;
}

#blog-category-tree::-webkit-scrollbar {
    width: 5px;
}

#blog-category-tree::-webkit-scrollbar-thumb {
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0);
}

#add-blog-category-tree::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
    border-radius: 0;
}

#add-blog-category-tree::-webkit-scrollbar {
    width: 5px;
}

#add-blog-category-tree::-webkit-scrollbar-thumb {
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0);
}

.sub-tag div {
    padding: 5px 10px;
    cursor: pointer;
}

.sub-tag div:first-child {
    margin-top: 5px;
}

.sub-tag div:hover {
    background-color: #e7f4f9;
}

.edit-blog-tag {
    display: none;
    padding: 0 10px;
    border: 1px solid #f4f4f4;
    background-color: #f8f8f8;
    margin: 5px 0 0;
}

.edit-blog-tag input {
    background-color: #EEEEEE;
    float: left;
    margin-right: 5px;
    padding: 0px 10px;
    line-height: 24px;
    border-radius: 3px;
    border: 1px solid #DDDDDD;
    position: relative;
    /* margin-bottom: 10px; */
    float: left;
    margin-top: 5px;
}

.box-tag .box-body .form-group:nth-last-child(2) {
    margin-bottom: 0;
}

.jconfirm.jconfirm-my-theme .jconfirm-bg {
    background-color: rgba(0, 0, 0, 0.67);
}

.jconfirm.jconfirm-my-theme .jconfirm-box {
    background-color: white;
    -webkit-box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 13px 19px 2px rgba(0, 0, 0, 0.14), 0 5px 24px 4px rgba(0, 0, 0, 0.12);
    box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 13px 19px 2px rgba(0, 0, 0, 0.14), 0 5px 24px 4px rgba(0, 0, 0, 0.12);
    padding: 30px 25px 10px 25px;
}

.jconfirm.jconfirm-my-theme .jconfirm-box div.jconfirm-closeIcon {
    color: rgba(0, 0, 0, 0.87);
}

.jconfirm.jconfirm-my-theme .jconfirm-box div.jconfirm-title-c {
    color: rgba(0, 0, 0, 0.87);
    font-size: 20px;
}

.jconfirm.jconfirm-my-theme .jconfirm-box div.jconfirm-content {
    color: rgba(0, 0, 0, 0.87);
    font-size: 16px;
}

.jconfirm.jconfirm-my-theme .jconfirm-box .jconfirm-buttons {
    text-align: right;
}

.jconfirm.jconfirm-my-theme .jconfirm-box .jconfirm-buttons button {
    text-transform: uppercase;
    font-weight: 500;
    padding: 6px 30px;
    border-radius: 3px;
}

.jconfirm.jconfirm-my-theme .jconfirm-box .jconfirm-title-c .jconfirm-icon-c {
    margin-right: 8px;
    margin-left: 0px;
}

.jconfirm.jconfirm-my-theme.jconfirm-rtl .jconfirm-title-c .jconfirm-icon-c {
    margin-left: 8px;
    margin-right: 0px;
}

.jconfirm .jconfirm-box.jconfirm-type-darkgreen .jconfirm-title-c .jconfirm-icon-c {
    color: #26a65b !important;
}

.jconfirm .jconfirm-box.jconfirm-type-darkgreen {
    border-top: solid 7px #26a65b;
    -webkit-animation-name: type-darkgreen;
    animation-name: type-darkgreen;
}

.jconfirm .jconfirm-box .jconfirm-buttons button.btn-darkgreen {
    background-color: #26a65b;
    color: #FFF;
    text-shadow: none;
    -webkit-transition: background .2s;
    transition: background .2s;
}

.jconfirm .jconfirm-box .jconfirm-buttons button.btn-darkgreen:hover {
    background-color: #008d4c;
    color: #FFF;
}

ul.sidebar-menu.tree {
    padding-bottom: 30px;
}

.help-block {
    display: none;
    margin-top: 5px;
    margin-bottom: 0;
    color: #737373;
}

.table-lang>tbody>tr>td {
    border-color: #d2d6de;
}

.nav-stacked>li.active>a,
.nav-stacked>li.active>a:hover {
    background: transparent;
    color: #444;
    border-top: 0;
    border-left-color: #501f78;
}

.category-tree .radio label {
    min-height: 25px;
    padding: 6px 0 6px 30px;
    margin-bottom: 0;
    font-weight: 700;
    width: 100%;
    cursor: pointer;
}

.category-tree .radio label:hover {
    background: #e7f4f9;
}

.category-tree .radio input[type=radio] {
    transform: scale(1.2);
    margin-left: -22px;
}

.radio-children {
    padding-left: 15px;
}

.radio-children .radio label {
    font-weight: 500;
    padding: 6px 0 6px 30px;
    width: 100%;
}

.radio-children .radio label:hover {
    background: #e7f4f9;
}

.radio-children .radio {
    margin: 0;
}

.categorybox-controls {
    padding: 10px 10px 0
}

.margin-r-10 {
    margin-right: 10px;
}

.content-button button {
    min-width: 75px;
}

.has-error #image-preview {
    border: 1px solid #dd4b39;
}

.nav-stacked>li>a {
    cursor: pointer;
}

.pagination-number {
    cursor: pointer;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    /* background-color: #006699; */
    /* border-color: #006699; */
}

.pagination>li>a,
.pagination>li>span {
    color: #444;
}

.pagination>li>a:hover {
    background: #1e9dea2e!important;
}

.search-found {
    text-align: center;
    width: 100%;
    min-height: 150px;
    padding-top: 50px;
    font-size: 18px;
    color: #777;
}

.main-footer a {
    color: #fff;
}

.btn-attree,
.btn-attree:active {
    color: #fff;
    background-color: #9d0b0e;
    border-color: #9d0b0e;
}

.btn-attree:hover {
    color: #fff;
    background-color: #7e0406;
    border-color: #7e0406;
}

.btn-attree:focus {
    color: #fff;
    background-color: #620405;
    border-color: #620405;
    text-decoration: none;
}

.user-menu .dropdown-menu {
    background-color: rgba(255, 255, 255, 0);
}

.blog-show-image {
    float: left;
    width: 18.74%;
    margin: 5px;
}

.iconimgMain,
.iconimgMain_edit {
    position: absolute;
    margin-top: -9px;
    margin-left: 130px;
    padding: 1px 5px;
    font-size: 14px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.6);
    border: 3px solid #ffffff;
    border-radius: 14px;
    display: block;
    float: right;
    cursor: pointer;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.1);
    z-index: 1;
    right: -10px;
    top: -10px;
}

.iconimg {
    position: absolute;
    margin-top: -9px;
    margin-left: 130px;
    padding: 1px 5px;
    font-size: 14px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.6);
    border: 3px solid #ffffff;
    border-radius: 14px;
    display: block;
    float: right;
    cursor: pointer;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.order-detail {
    position: relative;
    background: #fff;
    padding: 20px;
    margin: 10px 25px;
}

.sidebar-collapse .user-panel img {
    width: 100%;
}

.box-edit-league,
.box-edit-team {
    box-shadow: none;
}

.box-edit-league .row-title,
.box-edit-team .row-title {
    background-color: #f4f4f4;
}

.box-edit-league .league-yes,
.box-edit-team .league-yes {
    background-color: #00a9dd;
    color: #fff;
}

.box-edit-league .league-yes a,
.box-edit-team .league-yes a {
    color: #fff;
}

.box-edit-league.collapsed-box .box-header-title:hover,
.box-edit-team.collapsed-box .box-header-title:hover {
    background-color: #f4f4f4;
}

.box-edit-league.collapsed-box .box-header-title,
.box-edit-team.collapsed-box .box-header-title {
    border-radius: 3px;
    background-color: #fff;
    color: #444;
}

.box-edit-league .box-header-title,
.box-edit-team .box-header-title {
    border-radius: 0;
    background-color: #337ab7;
    color: #fff;
    border-bottom: none;
}

.box-edit-league.collapsed-box .btn-box-tool,
.box-edit-team.collapsed-box .btn-box-tool {
    color: #97a0b3;
}

.box-edit-league.collapsed-box .btn-box-tool:hover,
.box-edit-team.collapsed-box .btn-box-tool:hover {
    color: #606c84;
}

.box-edit-league.collapsed-box .btn-box-tool:focus,
.box-edit-team.collapsed-box .btn-box-tool:focus {
    color: #333;
}

.box-edit-league .btn-box-tool,
.box-edit-team .btn-box-tool {
    color: #fff;
}

.box-edit-league .btn-box-tool:hover,
.box-edit-team .btn-box-tool:hover {
    color: #fff;
}

.box-edit-league .btn-box-tool:focus,
.box-edit-team .btn-box-tool:focus {
    color: #fff;
}

.box-edit-league .box-header-league,
.box-edit-team .box-header-team {
    cursor: pointer;
}

.box-edit-league .box-header-league:hover,
.box-edit-team .box-header-team:hover {
    background-color: #004773;
}

.box-edit-league .box-header-league:active,
.box-edit-team .box-header-team:active {
    background-color: #042c46;
}

.box-edit-league .box-header-league.active,
.box-edit-team .box-header-team.active {
    background-color: #004773;
    /*cursor: auto;*/
}

.box-edit-league .box-header-league.active:active,
.box-edit-team .box-header-team.active:active {
    background-color: #042c46;
}

.box-update-odds .box-header-title,
.box-edit-team .box-header-title {
    border-radius: 0;
    background-color: #337ab7;
    color: #fff;
    border-bottom: none;
}

.box-update-odds .row-title {
    background-color: #f4f4f4;
}

.box-update-odds .nav-tabs-custom {
    margin-bottom: 20px;
    background: #fff;
    box-shadow: none;
    border-radius: 0;
}

.box-update-odds .table-responsive {
    padding: 10px;
}

.dashboard-box .product-img {
    width: 70px;
    height: 50px;
    overflow: hidden;
    margin-right: 10px;
    .sidebar-menu hr {
        margin-top: 10px;
        margin-bottom: 10px;
        border: 0;
        border-top: 1px solid #eee;
    }
    .box-content-cate {
        border: 1px solid #d2d6de;
        border-radius: 0;
        height: 100%;
        box-shadow: none;
        overflow: hidden;
    }
    .box-content-cate .box-body {
        /* overflow: scroll; */
        /* height: 100%; */
        padding-bottom: 51px;
    }
    .content-img {
        width: 140px;
        height: 100px;
        float: left;
        overflow: hidden;
        position: relative;
        background-color: #FFFFFF;
        border: 1px solid #e8e8e8;
        filter: drop-shadow(1px 1px 2px rgba(7, 49, 88, 0.5));
    }
    .content-img a {
        cursor: -webkit-zoom-in;
    }
    .content-img img {
        height: 120%;
        /* width: 100%; */
        position: relative;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: all 0.5s ease;
    }
    .content-info {
        width: 50%;
        margin-left: 10px;
        padding-right: 20px;
        text-align: left;
        float: left;
    }
    .content-info h1 {
        margin: 5px 0px;
        font-size: 14px;
        line-height: 22px;
        font-family: 'Roboto';
        font-weight: bold;
        color: #252525;
        float: left;
        height: 22px;
        width: 100%;
        overflow: hidden;
        word-wrap: break-word;
    }
    .content-info p {
        font-size: 12px;
        margin: 0;
        height: 18px;
        color: #999999;
        float: left;
        width: 100%;
        overflow: hidden;
    }
    .content-button {
        float: right;
    }
    .input-group-url {
        background-color: #f8f8f8 !important;
        color: #444 !important;
    }
    .box-tag {
        border: 1px solid #d2d6de;
        box-shadow: none;
        border-radius: 0;
    }
    .blog-content-social input {
        border-width: 0 0 1px 0;
        padding-left: 26px;
    }
    .blog-content-social .input-group-addon {
        border-width: 0 0 1px 0;
    }
    .blog-content-social i {
        position: absolute;
        left: 0;
        line-height: 36px;
        width: 24px;
        text-align: center;
        font-size: 18px;
        color: #999999;
    }
    .blog-content-social .form-social {
        width: 100%;
        float: left;
        min-height: 36px;
        position: relative;
    }
    .blog-content-lg .modal-lg {
        width: 1200px;
        height: 100%;
        margin: 0 auto;
    }
    .blog-content-sm .modal-lg {
        width: 900px;
        height: 100%;
        margin: 0 auto;
    }
    .blog-content .modal-content {
        overflow: hidden;
        height: 100%;
    }
    .blog-content .modal-header {
        position: fixed;
        float: left;
        z-index: 3;
        width: 100%;
        background-color: white;
    }
    .blog-content .modal-body {
        height: 100%;
        margin-top: 41px;
        padding-bottom: 106px;
    }
    .body-row-content {
        height: 100%;
        background: white;
    }
    .blog-content .modal-footer {
        position: fixed;
        float: left;
        z-index: 3;
        width: 100%;
        background-color: white;
        bottom: 0;
    }
    .col-content.col-md-3 {
        padding-top: 25px;
        padding-bottom: 25px;
        padding-right: 0;
        height: 100%;
    }
    .col-content.col-md-9 {
        height: 100%;
        padding-top: 25px;
        padding-bottom: 50px;
        padding-left: 30px;
        overflow-y: scroll;
    }
    .col-content.col-md-12 {
        height: 100%;
        padding-top: 25px;
        padding-bottom: 50px;
        padding-left: 30px;
        overflow-y: scroll;
    }
    .scrollbar:: -webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0);
        border-radius: 0;
        background-color: #FFFFFF;
    }
    .scrollbar:: -webkit-scrollbar {
        width: 5px;
        background-color: #F5F5F5;
    }
    .scrollbar:: -webkit-scrollbar-thumb {
        border-radius: 12px;
        background-color: rgba(0, 0, 0, 0.1);
    }
    #blog-category-tree:: -webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
        border-radius: 0;
    }
    #blog-category-tree:: -webkit-scrollbar {
        width: 5px;
    }
    #blog-category-tree:: -webkit-scrollbar-thumb {
        border-radius: 12px;
        background-color: rgba(0, 0, 0, 0);
    }
    #add-blog-category-tree:: -webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
        border-radius: 0;
    }
    #add-blog-category-tree:: -webkit-scrollbar {
        width: 5px;
    }
    #add-blog-category-tree:: -webkit-scrollbar-thumb {
        border-radius: 12px;
        background-color: rgba(0, 0, 0, 0);
    }
    .sub-tag div {
        padding: 5px 10px;
        cursor: pointer;
    }
    .sub-tag div:first-child {
        margin-top: 5px;
    }
    .sub-tag div:hover {
        background-color: #e7f4f9;
    }
    .edit-blog-tag {
        display: none;
        padding: 0 10px;
        border: 1px solid #f4f4f4;
        background-color: #f8f8f8;
        margin: 5px 0 0;
    }
    .edit-blog-tag input {
        background-color: #EEEEEE;
        float: left;
        margin-right: 5px;
        padding: 0px 10px;
        line-height: 24px;
        border-radius: 3px;
        border: 1px solid #DDDDDD;
        position: relative;
        /* margin-bottom: 10px; */
        float: left;
        margin-top: 5px;
    }
    .box-tag .box-body .form-group:nth-last-child(2) {
        margin-bottom: 0;
    }
    .jconfirm.jconfirm-my-theme .jconfirm-bg {
        background-color: rgba(0, 0, 0, 0.67);
    }
    .jconfirm.jconfirm-my-theme .jconfirm-box {
        background-color: white;
        -webkit-box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 13px 19px 2px rgba(0, 0, 0, 0.14), 0 5px 24px 4px rgba(0, 0, 0, 0.12);
        box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 13px 19px 2px rgba(0, 0, 0, 0.14), 0 5px 24px 4px rgba(0, 0, 0, 0.12);
        padding: 30px 25px 10px 25px;
    }
    .jconfirm.jconfirm-my-theme .jconfirm-box div.jconfirm-closeIcon {
        color: rgba(0, 0, 0, 0.87);
    }
    .jconfirm.jconfirm-my-theme .jconfirm-box div.jconfirm-title-c {
        color: rgba(0, 0, 0, 0.87);
        font-size: 20px;
    }
    .jconfirm.jconfirm-my-theme .jconfirm-box div.jconfirm-content {
        color: rgba(0, 0, 0, 0.87);
        font-size: 16px;
    }
    .jconfirm.jconfirm-my-theme .jconfirm-box .jconfirm-buttons {
        text-align: right;
    }
    .jconfirm.jconfirm-my-theme .jconfirm-box .jconfirm-buttons button {
        text-transform: uppercase;
        font-weight: 500;
        padding: 6px 30px;
        border-radius: 3px;
    }
    .jconfirm.jconfirm-my-theme .jconfirm-box .jconfirm-title-c .jconfirm-icon-c {
        margin-right: 8px;
        margin-left: 0px;
    }
    .jconfirm.jconfirm-my-theme.jconfirm-rtl .jconfirm-title-c .jconfirm-icon-c {
        margin-left: 8px;
        margin-right: 0px;
    }
    .jconfirm .jconfirm-box.jconfirm-type-darkgreen .jconfirm-title-c .jconfirm-icon-c {
        color: #26a65b !important;
    }
    .jconfirm .jconfirm-box.jconfirm-type-darkgreen {
        border-top: solid 7px #26a65b;
        -webkit-animation-name: type-darkgreen;
        animation-name: type-darkgreen;
    }
    .jconfirm .jconfirm-box .jconfirm-buttons button.btn-darkgreen {
        background-color: #26a65b;
        color: #FFF;
        text-shadow: none;
        -webkit-transition: background .2s;
        transition: background .2s;
    }
    .jconfirm .jconfirm-box .jconfirm-buttons button.btn-darkgreen:hover {
        background-color: #008d4c;
        color: #FFF;
    }
    ul.sidebar-menu.tree {
        padding-bottom: 30px;
    }
    .help-block {
        display: none;
        margin-top: 5px;
        margin-bottom: 0;
        color: #737373;
    }
    .table-lang>tbody>tr>td {
        border-color: #d2d6de;
    }
    .nav-stacked>li.active>a,
    .nav-stacked>li.active>a:hover {
        background: transparent;
        color: #444;
        border-top: 0;
        border-left-color: #501f78;
    }
    .category-tree .radio label {
        min-height: 25px;
        padding: 6px 0 6px 30px;
        margin-bottom: 0;
        font-weight: 700;
        width: 100%;
        cursor: pointer;
    }
    .category-tree .radio label:hover {
        background: #e7f4f9;
    }
    .category-tree .radio input[type=radio] {
        transform: scale(1.2);
        margin-left: -22px;
    }
    .radio-children {
        padding-left: 15px;
    }
    .radio-children .radio label {
        font-weight: 500;
        padding: 6px 0 6px 30px;
        width: 100%;
    }
    .radio-children .radio label:hover {
        background: #e7f4f9;
    }
    .radio-children .radio {
        margin: 0;
    }
    .categorybox-controls {
        padding: 10px 10px 0;
    }
    .margin-r-10 {
        margin-right: 10px;
    }
    .content-button button {
        min-width: 75px;
    }
    .has-error #image-preview {
        border: 1px solid #dd4b39;
    }
    .nav-stacked>li>a {
        cursor: pointer;
    }
    .pagination-number {
        cursor: pointer;
    }
    .pagination>.active>a,
    .pagination>.active>a:focus,
    .pagination>.active>a:hover,
    .pagination>.active>span,
    .pagination>.active>span:focus,
    .pagination>.active>span:hover {
        /* background-color: #006699; */
        /* border-color: #006699; */
        ;
    }
    .pagination>li>a,
    .pagination>li>span {
        color: #444;
    }
    .search-found {
        text-align: center;
        width: 100%;
        min-height: 150px;
        padding-top: 50px;
        font-size: 18px;
        color: #777;
    }
    .main-footer a {
        color: #fff;
    }
    .btn-attree,
    .btn-attree:active {
        color: #fff;
        background-color: #9d0b0e;
        border-color: #9d0b0e;
    }
    .btn-attree:hover {
        color: #fff;
        background-color: #7e0406;
        border-color: #7e0406;
    }
    .btn-attree:focus {
        color: #fff;
        background-color: #620405;
        border-color: #620405;
        text-decoration: none;
    }
    .user-menu .dropdown-menu {
        background-color: rgba(255, 255, 255, 0);
    }
    .blog-show-image {
        float: left;
        width: 18.74%;
        margin: 5px;
    }
    .iconimg {
        position: absolute;
        margin-top: -9px;
        margin-left: 130px;
        padding: 1px 5px;
        font-size: 14px;
        color: #ffffff;
        background-color: rgba(0, 0, 0, 0.6);
        border: 3px solid #ffffff;
        border-radius: 14px;
        display: block;
        float: right;
        cursor: pointer;
        box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.1);
        z-index: 1;
    }
    .order-detail {
        position: relative;
        background: #fff;
        padding: 20px;
        margin: 10px 25px;
    }
    .sidebar-collapse .user-panel img {
        width: 100%;
    }
    .box-edit-league,
    .box-edit-team {
        box-shadow: none;
    }
    .box-edit-league .row-title,
    .box-edit-team .row-title {
        background-color: #f4f4f4;
    }
    .box-edit-league .league-yes,
    .box-edit-team .league-yes {
        background-color: #00a9dd;
        color: #fff;
    }
    .box-edit-league .league-yes a,
    .box-edit-team .league-yes a {
        color: #fff;
    }
    .box-edit-league.collapsed-box .box-header-title:hover,
    .box-edit-team.collapsed-box .box-header-title:hover {
        background-color: #f4f4f4;
    }
    .box-edit-league.collapsed-box .box-header-title,
    .box-edit-team.collapsed-box .box-header-title {
        border-radius: 3px;
        background-color: #fff;
        color: #444;
    }
    .box-edit-league .box-header-title,
    .box-edit-team .box-header-title {
        border-radius: 0;
        background-color: #337ab7;
        color: #fff;
        border-bottom: none;
    }
    .box-edit-league.collapsed-box .btn-box-tool,
    .box-edit-team.collapsed-box .btn-box-tool {
        color: #97a0b3;
    }
    .box-edit-league.collapsed-box .btn-box-tool:hover,
    .box-edit-team.collapsed-box .btn-box-tool:hover {
        color: #606c84;
    }
    .box-edit-league.collapsed-box .btn-box-tool:focus,
    .box-edit-team.collapsed-box .btn-box-tool:focus {
        color: #333;
    }
    .box-edit-league .btn-box-tool,
    .box-edit-team .btn-box-tool {
        color: #fff;
    }
    .box-edit-league .btn-box-tool:hover,
    .box-edit-team .btn-box-tool:hover {
        color: #fff;
    }
    .box-edit-league .btn-box-tool:focus,
    .box-edit-team .btn-box-tool:focus {
        color: #fff;
    }
    .box-edit-league .box-header-league,
    .box-edit-team .box-header-team {
        cursor: pointer;
    }
    .box-edit-league .box-header-league:hover,
    .box-edit-team .box-header-team:hover {
        background-color: #004773;
    }
    .box-edit-league .box-header-league:active,
    .box-edit-team .box-header-team:active {
        background-color: #042c46;
    }
    .box-edit-league .box-header-league.active,
    .box-edit-team .box-header-team.active {
        background-color: #004773;
        /*cursor: auto;*/
    }
    .box-edit-league .box-header-league.active:active,
    .box-edit-team .box-header-team.active:active {
        background-color: #042c46;
    }
    .box-update-odds .box-header-title,
    .box-edit-team .box-header-title {
        border-radius: 0;
        background-color: #337ab7;
        color: #fff;
        border-bottom: none;
    }
    .box-update-odds .row-title {
        background-color: #f4f4f4;
    }
    .box-update-odds .nav-tabs-custom {
        margin-bottom: 20px;
        background: #fff;
        box-shadow: none;
        border-radius: 0;
    }
    .box-update-odds .table-responsive {
        padding: 10px;
    }
    .dashboard-box .product-img {
        width: 70px;
        height: 50px;
        overflow: hidden;
        margin-right: 10px;
    }
    .dashboard-box .products-list .product-img img {
        width: auto;
        height: 60px;
        position: relative;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: all 0.5s ease;
    }
    .dashboard-box .profile-user-img img {
        height: 120%;
        position: relative;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: all 0.5s ease;
    }
    .dashboard-box span.users-list-date {
        height: 17px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .dashboard-box .blog-message {
        height: 22px;
        width: 420px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .input-logo-container {
        position: relative;
        width: 145px;
        margin-right: 15px;
        float: left;
    }
    .input-logo {
        position: absolute;
        top: 0;
        left: 0;
        width: 145px;
        opacity: 0;
        padding: 6px 0;
        cursor: pointer;
    }
    .input-logo-trigger {
        display: block;
        padding: 7px 18px;
        background: #00a65a;
        border: 1px solid transparent;
        border-color: #008d4c;
        border-radius: 3px;
        text-align: center;
        color: #fff;
        font-size: 14px;
        font-weight: 400;
        transition: all .4s;
        cursor: pointer;
    }
    .videoWrapper {
        position: relative;
        padding-bottom: 56.25%;
        /* 16:9 */
        padding-top: 25px;
        height: 0;
    }
    .videoWrapper iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .pagination>.active>a,
    .pagination>.active>a:focus,
    .pagination>.active>a:hover,
    .pagination>.active>span,
    .pagination>.active>span:focus,
    .pagination>.active>span:hover {
        z-index: 3;
        color: #fff;
        cursor: default;
        background-color: #000000;
        border-color: #000000;
    }
    .material-icons {
        font-size: 14px;
        line-height: 1;
        position: relative;
        top: 2px;
    }
    filter: drop-shadow(1px 1px 2px rgba(7, 49, 88, 0.5));
    filter: box-shadow(1px 1px 1px rgba(7, 49, 88, 0.5));
    box-shadow: 0px 1px 6px 0px black;
    transition: all 0.25s;
}

.dashboard-box .products-list .product-img img {
    width: auto;
    height: 60px;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.5s ease;
}

.dashboard-box .profile-user-img img {
    height: 120%;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.5s ease;
}

.dashboard-box span.users-list-date {
    height: 17px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.dashboard-box .blog-message {
    height: 22px;
    width: 420px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.input-logo-container {
    position: relative;
    width: 145px;
    margin-right: 15px;
    float: left;
}

.input-logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 145px;
    opacity: 0;
    padding: 6px 0;
    cursor: pointer;
}

.input-logo-trigger {
    display: block;
    padding: 7px 18px;
    background: #00a65a;
    border: 1px solid transparent;
    border-color: #008d4c;
    border-radius: 3px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    transition: all .4s;
    cursor: pointer;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    padding-top: 25px;
    height: 0;
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.dashboard-box .product-img:hover {
    box-shadow: 0 0 20px 1px #888888;
    transform: scale(1.5);
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #1e9dea;
    border-color: #1e9dea2e;
}

.material-icons {
    font-size: 14px;
    line-height: 1;
    position: relative;
    top: 2px;
}

.loading_blacksc,
.loading_blacksc_start {
    width: 100%;
    height: 100%;
    /* display: inline; */
    position: absolute;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.3);
}

.loading_blacksc {
    display: none;
}

.loading_blacksc_start {
    display: block;
}

.lds-facebook,
.lds-ellipsis {
    display: inline-block;
    position: fixed;
    width: 64px;
    height: 64px;
    top: 50%;
    left: 50%;
    /* transform: translate(-50%,-50%); */
    margin: auto;
}

.lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 6px;
    width: 13px;
    background: #fff;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.lds-facebook div:nth-child(1) {
    left: 6px;
    animation-delay: -0.24s;
}

.lds-facebook div:nth-child(2) {
    left: 26px;
    animation-delay: -0.12s;
}

.lds-facebook div:nth-child(3) {
    left: 45px;
    animation-delay: 0;
}

@keyframes lds-facebook {
    0% {
        top: 6px;
        height: 51px;
    }
    50%,
    100% {
        top: 19px;
        height: 26px;
    }
}

.cke_contents>iframe {
    width: 100% !important;
}

.lds-ellipsis div {
    position: absolute;
    top: 27px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
    left: 6px;
    animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
    left: 6px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
    left: 26px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
    left: 45px;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(19px, 0);
    }
}

@media (max-width: 1200px) {
    .blog-content-lg .modal-lg {
        width: auto;
    }
}

@media (max-width: 992px) {
    .blog-content .modal-content {
        overflow: scroll;
        height: 100%;
    }
    .blog-content .modal-body {
        height: fit-content;
        margin-top: 41px;
        padding-bottom: 106px;
    }
    .col-content.col-md-3 {
        padding-top: 25px;
        padding-bottom: 25px;
        padding-right: 15px;
        height: 100%;
    }
    .modal-open .modal {
        overflow-x: auto;
        overflow-y: auto;
    }
    .blog-content-lg .modal-lg {
        width: auto;
    }
}

.dataTables_scrollBody {
    padding-bottom: 70px !important;
}

#blah,
#blah-edit,
#blah-size-edit,
#blah-left-edit,
#blah-right-edit,
#blah-left,
#blah-right {
    width: 100%;
    height: auto;
}

@media screen and (min-width:1366px){
    .page_hotel_manager #backendContent .content-info {
        width: 50%;
    }
}
@media screen and (min-width:1024px){
    .page_hotel_manager #backendContent .content-info {
        width: 45%!important;
    }
}
@media screen and (min-width:1024px) and (max-width:1609px){
    .inc-decRoom{
        grid-template-columns: 100%!important;
    }
}
@media screen and (min-width:768px) and (max-width:1200px){
    .box-body .attachment-block:before{
        display: none;
    }
    .box-body .attachment-block{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .box-body .attachment-block .content-info{
        width: 100%!important;
    }
    .box-body .attachment-block .priceroom{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-column-gap: 1%;
    }
    .box-body .attachment-block .priceroom .input-current-price{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .box-body .attachment-block .priceroom .add-remove-room{
        display: grid;
        grid-template-columns: 100%;
    }
    .box-body .attachment-block .priceroom .add-remove-room button{
        width: 100%;
        margin: unset;
    }
    .box-body .attachment-block .priceroom .input-current-price input{
        padding: 0 3px;
        text-align: center;
    }
    .box-body .attachment-block .priceroom .input-current-price button{
        grid-column-start: 1;
        grid-column-end: 3;
        width: 100%;
        margin: unset;
    }
    .box-body .attachment-block .inc-decRoom{
        grid-template-columns: 100%!important;
    }
    .box-body .attachment-block .inc-decRoom .config-room-amount{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .box-body .attachment-block .inc-decRoom .config-room-amount button{
        width: unset;
        margin: 0 5px;
    }
}
@media screen and (min-width:481px) and (max-width:767px){
    .box-body .attachment-block:before{
        display: none;
    }
    .box-body .attachment-block{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 5px;
    }
    .box-body .attachment-block .content-info{
        display: grid;
    }
    .box-body .attachment-block .content-info p{
        overflow: unset;
        height: 100%!important;
    }
    .box-body .attachment-block .priceroom{
        grid-template-columns: 100%!important;
        grid-column-gap: 1%;
    }
    .box-body .attachment-block .priceroom .add-remove-room{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .box-body .attachment-block .priceroom .add-remove-room button{
        width: auto;
    }
    .box-body .attachment-block .inc-decRoom{
        grid-template-columns: 100%!important;
        text-align: center!important;
    }
}
@media screen and (max-width:480px){
    .box-body .attachment-block{
        display: grid;
        grid-template-columns: 100%;
        grid-row-gap: 5px;
    }
    .box-body .attachment-block .priceroom{
        grid-template-columns: 100%!important;
    }
    .box-body .attachment-block .inc-decRoom{
        grid-template-columns: 100%!important;
    }
}