.box-header > .box-tools {
    display: none;
}
.box.box-solid.box-primary {
    border: none;
    box-shadow: none;
}
.box.box-solid.box-primary > .box-header {
    color: #000;
    background-color: rgba(60, 141, 188, 0);
}
.form-control {
    border-radius: 0;
    box-shadow: none;
    border-color: #fff;
}
.box.box-solid.box-primary:last-child {
    margin-bottom: 0;
}

div.dataTables_scrollHead table.table-bordered {
    width: 705px !important;
}
div.dataTables_scrollBody table {
    width: 705px !important;
}
table.table-bordered.dataTable th:last-child, table.table-bordered.dataTable th:last-child, table.table-bordered.dataTable td:last-child, table.table-bordered.dataTable td:last-child {
    display: none;
}
table.dataTable thead .sorting:after {
    display: none !important;
}
table.dataTable thead .sorting_desc:after {
    display: none !important;
}